.animal-card {
  height: 420px;
  width: 310px;
  position: relative;

  &__image {
    display: block;
    object-fit: cover;
    height: 200px;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
  }

  &__image-adopted {
  }

  &__adopted {
    &-title {
      font-size: 30px;
      position: absolute;
      top: 40px;
      left: 50%;
      font-weight: 500;
      transform: translate(-50%,40px);
    }
    &-image {
      opacity: 0.3;
    }
  }
}

mat-card-subtitle {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

mat-card-actions {
  justify-content: flex-end;
}
